.app {
  background-color: rgba(39, 39, 39, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 180px 35px 35px 35px;
    border-radius: 10px;
    width: 100%;
    max-width: 570px;
    width: 100%;

    .form-container__form-input {
      margin-bottom: 20px;
    }

    .form-container__form-submit-button {
      width: 100%;
      color: white;
      border: none;
      font-size: 22px;
      font-weight: 500;
      margin-top: 20px;
      background-color: #2364d2;

      &:focus, &:hover {
        background-color: #3d9cff;
      }
    }

    .form-container__form-row {
      display: flex;
      align-items: flex-start;
      width: 100%;

      .form-container__form-date-input {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 2.5;
        flex-basis: 0;

        .form-container__form-date-input-select{
          flex: 1;
          margin-right: 15px;
        }
      }

      .form-container__form-cvv-input {
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    label {
      display: block;
      width: 100%;
      font-size: 14px;
      margin-bottom: 5px;
    }

    input, select, button {
      height: 50px;
      font-size: 18px;
      font-family: "Source Sans Pro", sans-serif;
      border-radius: 5px;
      padding: 5px 15px;
      box-shadow: none;
      z-index: 2;
      border: 1px solid #ced6e0;

      &:hover, &:focus {
        border-color: #3d9cff;
        outline: none;
      }

      &:focus {
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.35);
      }
    }

    input {
      width: 100%;
    }
  }

  .shadow{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.25) !important;
  }

  .surface {
    position: relative;
    display: inline-block;
  }
  
  .surface:after {
    border-radius: 10px;
    position: absolute;
    content: '';
    pointer-events: none;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .05);
  }
}

* {
  box-sizing: border-box;
}